.widget.widget_wp_pirate_parties_list_widget ul.wp-pp-inline {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}
.widget.widget_wp_pirate_parties_list_widget ul.wp-pp-inline:after {
    content: '';
    clear: both;
    display: block;
}

.widget.widget_wp_pirate_parties_list_widget ul.wp-pp-inline li {
    float: left;
    margin-right: 1em;
}

.widget.widget_wp_pirate_parties_weekly_widget ul {
    list-style: none;
    margin-left: 0;
}

.widget.widget_wp_pirate_parties_weekly_widget h3 {
    margin-bottom: 0;
}

.pirate-party.shortcode {
    clear: both;
    margin: 0 0 1.75em;
    min-height: 150px;
}

.pirate-party.shortcode .logo {
    float: left;
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
}

.pirate-party.shortcode .partyName {
    display: inline-block;
    margin: 0;
}

.pirate-party.shortcode ul {
    list-style: none;
}
